body {
    font-size: 1.6rem;
    background-color: var(--gray-900);
    color: var(--text-default);
}

.container{
    max-width: 98rem;
    margin: 0 auto;
}

.container-fluid {
    max-width: auto;
}

.content {
    margin: 3.2rem;
}